<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.nikhil.sbihackathon">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.gms.vision.DEPENDENCIES"
            android:value="ocr" />

        <activity android:name=".MainActivity" />
        <activity android:name=".ImageSelector" />
        <activity android:name=".Image_to_text" />
        <activity android:name=".HomeActivity" />
        <activity android:name=".MyAccountList">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity
            android:name=".BalanceEnquiry"
            android:parentActivityName=".MyAccountList" />
        <activity
            android:name=".MiniStatement"
            android:parentActivityName=".MyAccountList" />
        <activity
            android:name=".TransactionAccounts"
            android:parentActivityName=".MyAccountList" />
        <activity
            android:name=".Loan_accounts"
            android:parentActivityName=".MyAccountList" />
        <activity
            android:name=".DepositAccount"
            android:parentActivityName=".MyAccountList">
           </activity>
        <activity
            android:name=".MyPassbook"
            android:parentActivityName=".MyAccountList" />
        <activity android:name=".Account_detail_all"></activity>
    </application>

</manifest>